* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.taskList {
    list-style-type: none;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #c4c4c4;
    border-radius: 15px;
    padding: 10px;

}

.container {
    width: 336px;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    margin: auto;
    margin-top: 100px;
}

.yellow {
    height: 28px;
    background-color: #ffdc40;
    border-radius: 10px 10px 0 0;
    margin-bottom: 13px;
}

.container-main {
    margin: auto;
    width: 286px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Arial', serif;
    font-size: 26px;
    margin-bottom: 20px;
}

.textInARow {
    width: 100%;
    display: flex;
    padding: 5px;
    justify-content: flex-end;
}

.sortAsc {
    width: 25px;
    display: block;
    margin-bottom: 10px;
    margin: 5px;
    border: none;
}

.sortDesc {
    width: 25px;
    display: none;
    margin-bottom: 10px;
    margin: 5px;
    border: none;
}


.taskItem {
    display: flex;
    justify-content: space-between;
}

.dragTask {
    cursor: pointer;
    background: none;
    border: none;
    width: auto;
}

.deleteTask {
    cursor: pointer;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
}

.deleteTask:hover {
    background-color: #833ae0;
    color: white;
}



.input {
    border: none;
    width: 70%;
    outline: none;
}

.add {
    width: 150px;
    height: 42px;
    background-color: #833ae0;
    border-radius: 71px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: none;
    cursor: pointer;
}

.plus {
    position: absolute;
    width: 42px;
    height: 42px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #9953f1;
}

.btn-text {
    margin-left: 20px;
}

.button-div {
    margin-bottom: 19px;
    height: min-content;
}